[buildout]
extends =
#    http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
#    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg
package-name = Products.membrane
#test-eggs = collective.indexing

[versions]
# For Plone 3, 4.0:
#collective.indexing = 1.8
# For Plone 4.1:
#collective.indexing = 2.0a3

[instance]
# Very verbose, but can be handy when developing PAS plugins:
event-log-level = debug
# eggs +=
#     collective.indexing
# zcml +=
#     collective.indexing

