# Note: some tests fail.
[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
package-name = Products.membrane

[versions]
Products.remember = 1.1b3

[instance]
# Very verbose, but can be handy when developing PAS plugins:
event-log-level = debug
eggs += Products.remember
